html {
    background:#1a1b20;
  }
  body {
    background:#1a1b20;
  }
  .table {
    background-color:#2b1e23;
    border-radius: 10px;
  }
  .table td  {
    color:#fff;
    font-family: 'Nunito Sans';font-size: 18px;
  }

  .table thead th  {
    color:#fff;
    font-family: 'Nunito Sans';font-size: 18px;
  }

  .titletwo  {
    color:#fff;
    font-family: 'Nunito Sans';font-size: 23px;
  }

  

  .btnx {
    padding: 10px 20px;
    border: none;
    outline: none;
    position: relative;
    z-index: 1;
    border-radius: 5px;
    background: linear-gradient(to right, #00FFA3, #DC1FFF);
    cursor: pointer;
  }
  .btnx::before {
    content: "";
    position: absolute;
    left: 1px;
    right: 1px;
    top: 1px;
    bottom: 1px;
    border-radius: 4px;
    background-color: white;
    z-index: -1;
    transition: 200ms
  }
  .btnx::after {
    content: attr(data);
    font-size: 16px;
    background: linear-gradient(to left, #00FFA3, #DC1FFF);
    -webkit-background-clip: text;
    color: transparent;
    transition: 200ms
  }
  .btnx:hover::before {
    opacity: 50%;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
  }
  .btnx:hover::after{
    color: white;
  }

